// 爆點
.info {
    display: flex;
    opacity: 1;
    max-width: 970px;
    .candidate-people {
        @include b1024 {
            margin-top: 0;
        }
        .p1 {
            margin-right: 2.5%;
            width: 29.89%;
        }
        .p2 {
            width: 29.89%;
            margin-right: 1.64%;
        }
        .p3 {
            width: 34%;
        }
    }
}
// 台北
.taipei {
    display: flex;
    opacity: 1;
    max-width: 970px;
    .candidate-people {
        @include b1024 {
            margin-top: 0;
        }
        .p1 {
            margin-right: 2.5%;
            width: 29.89%;
        }
        .p2 {
            width: 29.89%;
            margin-right: 1.64%;
        }
        .p3 {
            width: 34%;
        }
    }
}
// 新北
.new-taipei {
    max-width: 970px;
    .candidate-people {
        .p1 {
            margin-left: 6%;
            width: 38%;
        }
        .p2 {
            margin-right: 10%;
            width: 38%;
        }
    }
}
// 桃園
.taoyuan {
    max-width: 970px;
    .candidate-people {
        .p1 {
            width: 34.6%;
            @include b1024 {
                max-width: none;
            }
        }
        .p2 {
            width: 33.6%;
            @include b1024 {
                max-width: none;
            }
        }
        .p3 {
            width: 32.6%;
            @include b1024 {
                max-width: none;
            }
        }
    }
}
// 新竹
.hsinchu {
    max-width: 970px;
    .candidate-people {
        @include b1024 {
            margin-top: 0;
        }
         .p1 {
            width: 34.6%;
            @include b1024 {
                max-width: none;
            }
        }
        .p2 {
            width: 33.6%;
            @include b1024 {
                max-width: none;
            }
        }
        .p3 {
            width: 32.6%;
            @include b1024 {
                max-width: none;
            }
        }
    }
}
// 台中
.taichung {
    max-width: 970px;
    .candidate-people {
        .p1 {
            margin-left: 6%;
            width: 38%;
        }
        .p2 {
            margin-right: 10%;
            width: 38%;
        }
    }
}
// 台南
.tainan {
    max-width: 970px;
    .candidate-people {
        @include b1024 {
            margin-top: 0;
        }
         .p1 {
            padding-bottom: 12px;
            width: 34.6%;
            @include b1024 {
                max-width: none;
            }
        }
        .p2 {
            width: 33.6%;
            @include b1024 {
                max-width: none;
            }
        }
        .p3 {
            width: 32.6%;
            @include b1024 {
                max-width: none;
            }
        }
    }
}
// 高雄
.kaohsiung {
    max-width: 970px;
    .candidate-people {
        .p1 {
            margin-left: 6%;
            width: 35%;
            padding-bottom: 9px;
        }
        .p2 {
            margin-right: 10%;
            padding-bottom: 9px;
            width: 35%;
        }
    }
}