//共用設定
body {
    font-family: 'Lato', 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', 'Helvetica Neue', Helvetica, Arial, 'Noto Serif TC', sans-serif;
    letter-spacing: 0.25px;
    overflow-x: hidden;
    font-size: 16px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

main {
    .container {
        background: var(--green);
    }
}

// banner大標
.main-banner {
    background: url(#{$assetPath}/banner-bg.jpg) 0 0 no-repeat;
    background-size: cover;
    padding: 0 0 50px 0;
    @include b1024 {
        padding: 0 15px 50px 15px;
    }
    .slogan {
        width: 100%;
        max-width: 920px;
        margin: 0 auto;
        position: relative;
    }
    .quite {
        position: absolute;
        left: 34.8%;
        width: 28%;
        top: 23%;
        z-index: 2;
    }
}

// 候選人
.candidate {
    margin: 0 0 30px 0;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: auto;
        top: auto;
        right: auto;
        bottom: auto;
    }
    .electorate {
        width: 100%;
        margin: 0 auto;
        display: none;
        opacity: 0;
        flex-wrap: wrap;
        transition: all 0.3s ease-in;
        position: relative;
    }
    .candidate-txt {
        writing-mode: vertical-lr;
        margin-right: 15px;
        @include b1024 {
            margin-right: 8px;
        }
        span {
            font-family: 'Noto Serif TC', serif;
            font-size: 28px;
            letter-spacing: 5px;
            font-weight: bold;
            display: inline-block;
            background: var(--red);
            color: var(--white);
            padding: 10px 5px;
            @include b768 {
                font-size: 18px;
            }
            @include b551 {
                font-size: 15px;
                padding: 5px 3px;
            }
        }
    }
    .candidate-people {
        display: flex;
        align-items: flex-end;
        flex: 1;
        justify-content: space-between;
        .people {
            width: 100%;
            position: relative;
        }
    }
    .remark {
        width: 100%;
        text-align: right;
        font-size: 14px;
        color: var(--gray-6);
        padding-top: 6px;
    }
}
.electorate.show {
    opacity: 1;
    display: flex;
}

//nav
.sidebar-slide {
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
    .nav {
        margin: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        background: rgba(255,255,255,0.6);
        border-radius: 20px;
        padding: 0 12px;
        box-shadow: 0px 3px 3px rgb(0 0 0 / 25%);
        li {
            flex: 1;
            position: relative;
            text-align: center;
            @include b551 {
                flex: none;
                width: calc(100% / 4);
            }
        }
        li+li {
            &::before {
                content: "";
                display: inline-block;
                width: 1px;
                height: 18px;
                background-color: var(--gray-4);
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        li {
            &:nth-of-type(5) {
                &::before {
                    @include b551 {
                        display: none;
                    }
                }
            }
        }
        a {
            display: inline-block;
            font-size: 17px;
            color: var(--gray-4);
            font-weight: 600;
            padding: 12px 0;
            position: relative;
            &::after {
                content: '';
                display: block;
                width: 0%;
                height: 3px;
                position: absolute;
                background: var(--red);
                bottom: 0;
                left: 0;
                transition: all 0.2s linear;
            }
            &:hover {
                color: var(--red);
                &::after {
                    width: 100%;
                }
            }
        }
    }
    .nav-link.active {
        color: var(--red);
        &::after {
            width: 100%;
        }
    }
}

// article
.articleBlock {
    width: 100%;
    padding: 60px 0;
    position: relative;
    overflow: hidden;
    @include b1024 {
        padding: 30px 15px;
    }
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(#{$assetPath}/shadow-block.svg) 0 0 no-repeat;
        max-width: 1070px;
        right: 0;
        z-index: 0;
        @include b1024 {
            max-width: none;
            width: 98%;
        }
    }
    .article-bg {
        background: var(--gradient-1);
        border-radius: 10px;
        padding: 40px;
        max-width: 1020px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        @include b1024 {
            padding: 20px;
        }
    }
    .article-card {
        background: var(--gray-2);
        border-radius: 10px;
        padding: 50px;
        @include b1024 {
            padding: 20px;
        }
    }
    h2 {
        margin-bottom: 20px;
        margin-top: -40px;
        font-size: 34px;
        color: var(--white);
        text-shadow: 2px 2px 1.5px rgb(0 0 0 / 35%);
        display: flex;
        align-items: center;
        justify-content: center;
        @include b1024 {
            font-size: 26px;
            margin-top: -20px;
        }
        @include b551 {
            font-size: 22px;
        }
        &::before,&:after {
            content: "";
            display: inline-block;
            width: 110px;
            height: 2px;
            background: var(--white);
            margin: 0 25px;
            @include b551 {
                width: 35px;
                margin: 0 15px;
            }
        }
        span {
            display: inline-block;
            letter-spacing: 15px;
            margin-right: -15px;
            @include b551 {
                letter-spacing: 10px;
                margin-right: -10px;
            }
        }
    }
    .artice-content {
        font-size: 18px;
        line-height: 1.4;
        color: var(--gray-5);
        font-weight: 500;
        @include b991 {
            font-size: 16px;
        }
        p {
            margin-bottom: 15px;
        }
    }
}
.give-birth,.social-housing {
    overflow: inherit;
}

// table
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.rwd-table {
    border: var(--gray-3) solid 1px;
    border-right: none;
    font-size: 16px;
    img {
        width: 100%;
        max-width: 85px;
    }
    .name {
        display: block;
        padding-top: 5px;
    }
    th,td {
        border-right: var(--gray-3) solid 1px;
        padding: 20px;
        width: calc(100% / 4);
        @include b991 {
            padding: 12px;
        }
        b {
            color: var(--pink);
        }
    }
    .td-none {
        text-align: center;
    }
    h3 {
        margin-bottom: 5px;
        span {
            background: var(--white);
            font-size: 16px;
            color: var(--gray-6);
            display: inline-block;
            padding: 4px 10px;
            box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
        }
    }
    ul {
        margin: 0;
        padding: 0 0 0 22px;
        li {
            margin-bottom: 5px;
        }
        ol {
            list-style: circle;
            margin: 5px 0 10px 0;
            padding: 0 0 0 22px;
        }
    }
    .pd-none {
        padding: 0;
        position: relative;
        font-size: 24px;
        font-weight: 600;
        @include b991 {
            font-size: 18px;
        }
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background: var(--gray-3);
            left: 0;
            top: 50%;
            transform: rotate(35deg);
        }
        .right {
            position: absolute;
            width: 100%;
            max-width: 90px;
            right: 10px;
            top: 10px;
            @include b991 {
                max-width: 65px;
            }
        }
        .left {
            position: absolute;
            left: 10px;
            bottom: 10px;
        }
    }
    thead {
        th {
            text-align: center;
        }
    }
    tbody {
        td {
            background: var(--gray-7);
            border-top: var(--white) solid 1px;
        }
        tr {
            &:first-of-type {
                td {
                    border-top: none;
                }
            }
        }
    }
}
.rwd-t2 {
    th,td {
        width: calc(100% / 3);
    }
    .pd-none {
        &::after {
            transform: rotate(28deg);
        }
    }
}
// table rwd
@media screen and (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .rwd-table {
        width: 940px;
    }
}
