// 顏色
:root {
    --white:#ffffff;
    --black:#000000;

    --green:#7DC8C1;
    --pink: #FA015C;
    --red: #AD1818;

    --gray-1: #FCFDFF;
    --gray-2: #F4F4F4;
    --gray-3: #a3a3a3;
    --gray-4: #8B8B8B;
    --gray-5: #4F4442;
    --gray-6: #232323;
    --gray-7: #e2e2e2;

    --gradient-1: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #D9D9D9 100%) 0% 0% no-repeat;
    --gradient-2: linear-gradient(180deg, #036E6E 0%, rgba(128, 191, 208, 0) 100%) 0% 0% no-repeat;
}